<ion-tabs>

    <ion-tab-bar class="color" slot="bottom">
        <ion-tab-button tab="tab1">
            <div class="container">
                <img class="icon1" src="assets/img/tab1.png">
            </div>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <div class="container">
                <img class="icon2" src="assets/img/tab2.png">
            </div>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <div class="container">
                <img class="icon3" src="assets/img/tab3.png">
            </div>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>